* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background: #ffffff;
    --color-text-primary: #1a1a1a;
    --color-primary: #2c3e50;
    --color-secondary: #15527A;
    --color-accent: #145C32;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: var(--color-text-primary);
    background-color: var(--color-background);
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}


header {
    text-align: center;
    padding: 2rem 0;
    background-color: var(--color-primary);
    color: var(--color-background);
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}


.profile {
    background-color: #f4f4f4;
    padding: 2rem;
    margin: 1rem 0;
    border-radius: 8px;
    text-align: center;
}


.exercises {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem 0;
}

.exercises-title { grid-area: 1 / 1 / 2 / 5; }
.exercise-card1 { grid-area: 2 / 1 / 3 / 2; }
.exercise-card2 { grid-area: 2 / 2 / 3 / 3; }
.exercise-card3 { grid-area: 2 / 3 / 3 / 4; }
.exercise-card4 { grid-area: 2 / 4 / 3 / 5; }
.exercise-card5 { grid-area: 3 / 1 / 4 / 2; }
.exercise-card6 { grid-area: 3 / 2 / 4 / 3; }
.exercise-card7 { grid-area: 3 / 3 / 4 / 4; }
.exercise-card8 { grid-area: 3 / 4 / 4 / 5; }
.exercise-card9 { grid-area: 4 / 1 / 5 / 2; }
.exercise-card10 { grid-area: 4 / 2 / 5 / 3; }

.exercise-card {
    background-color: var(--color-secondary);
    color: var(--color-background);
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.exercise-card:hover {
    transform: scale(1.05);
    background-color: var(--color-accent);
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--color-primary);
    color: var(--color-background);
}


@media screen and (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .exercises {
        grid-template-columns: 1fr;
    }
}